body {
    height: 600px;
    width: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Amaranth", serif;
}

#menu {
    width: 100%;
    height: 65px;
    border: 2px black solid;
    border-radius: 0 0 5px 5px;
    background-color: rgba(123, 202, 238, 0.616);
    padding: 5px 0px;
    text-decoration: none;
}

#marca {
    width: 75px;
    height: 75px;
    background-image: url(../img/marca2.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

#marca a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#menu ul {
    position: absolute;
    top: 10px;
    left: 50px;
    display: flex;
    font-family: "Amaranth", serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px black;
    gap: 35px;
    list-style: none;
}

#menu li:hover{
    color: rgb(212, 210, 210);
    transition: color 0.3s ease;
    cursor: pointer;
}

#menu a {
    text-decoration: none;
    color: white;
    background: none;
}

#menu a:hover {
    color: #d4d2d2;
}

.aluno-lista {
    background-color: rgba(123, 202, 238, 0.616);
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.aluno-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.aluno-item:last-child {
    border-bottom: none;
}

.aluno-item p {
    margin: 5px 0;
    font-size: 16px;
}

.aluno-item strong {
    color: #333;
}

.aluno-item a {
    float: right;
    padding: 5px 10px;
    font-family: "Amaranth", serif;
    font-size: 16px;
    text-align: center;
    background-color: rgba(123, 202, 238, 0.616);
    border: solid black 1px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.aluno-item a:hover {
    background-color: rgba(123, 202, 238, 0.8);
    transition: background-color 0.3s ease;
}


.btn-excluir {
    padding: 10px 20px;
    font-family: "Amaranth", serif;
    font-size: 16px;
    text-align: center;
    background-color: rgba(123, 202, 238, 0.616);
    border: solid black 1px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btn-excluir:hover {
    background-color: rgba(123, 202, 238, 0.8);
    transition: background-color 0.3s ease;
}

form {
    display: flex;
    justify-content: space-between;
    background-color: rgba(123, 202, 238, 0.616);
    border: 2px black solid;
    border-radius: 5px;
    width: 40%;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    text-shadow: 3px 3px 4px black;
}

h1 {
    margin-top: -15px;
}

input {
    text-align: start;
    margin: 5px;
    border-radius: 5px;
    border: none;
    padding: 3px 30px;
    font-weight: bold;
}

#botao {
    padding: 10px 20px;
    font-family: "Amaranth", serif;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: rgba(123, 202, 238, 0.616);
    border: solid black 2px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#botao:hover {
    background-color: rgba(123, 202, 238, 1);
    transform: scale(1.05);
}

